//====================global footer
.layout-footer {
  padding: 80px 0 40px;

  @include mobile {
    padding: 80px 0 160px;
  }

  .si-phone {
    padding-top: 0px;
    bottom: 118px;
    right: 0;
    position: absolute;
    
    @include mobile {
      width: 300px;
      right: -32px;
      margin: 0 auto;
      display: block !important;
      position: relative;
      bottom: 100px;
      float: none;
    }

    &::before {
      border: 1px solid $accent-color;

      @include mobile {
        width: 76px;
        height: 76px;
        background: url('../images/phone-icon-mob.png') no-repeat 50% 50%;
        left: -111px;
        top: -8px;
      }
    }
    
    a {
      color: #3d434c;
    }
  }

  .logo {
    @include mobile {
      margin: 0 auto 30px;
      width: 455px;
      display: block !important;
      float: none;
    }
    p {
      color: #3d434c;
    }

    span {
      color: #3d434c;
    }
  }
  
  .social {
    padding-right: 50px;

    @include big-desktop {
      display: none;
      padding-right: 0;
    }

    @include mobile {
      display: block;
      margin: 0 auto 30px;
      width: 320px;
      position: relative;
      right: 72px;
      bottom: 124px;
    }

    span {
      font: 400 15px/19px 'GothamPro', sans-serif;
      display: inline-block;
      margin-left: 28px;
      vertical-align: middle;

      @include mobile {
        font: 400 18px/21px 'GothamPro', sans-serif;
        text-align: left;
      }
    }
  }
}

.company-info-block {
  @include small-desktop {
    position: relative;
    left: 100px;
  }

  @include mobile {
    left: 0;
  }

  address {
    display: inline-block;
    padding-left: 90px;

    p {
      position: relative;
      bottom: 54px;
      font: 400 15px/19px 'GothamPro', sans-serif;
      margin-bottom: 12px;

      @include mobile {
        font: 400 20px/24px 'GothamPro', sans-serif;
        margin-bottom: 24px;
      }


      span {
        font: 700 15px/19px 'GothamPro', sans-serif;

        @include mobile {
          font: 700 20px/24px 'GothamPro', sans-serif;
        }
      }
    }
  }

  dl {
    margin-bottom: 0px;
  }

  dt {
  }

  dd {
  }
}

.company-info-block{

  p {
    margin-bottom: 0px;
  }
}

.copyright {
  margin-top: 0px;
}